*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /*max-width: 1000px;*/
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: white;
}

.main-video-container {
  position: absolute;
  width: 90%;
  top:0.5%;
  /*height: 50%;*/
  max-height: 80%;
  display: flex;
  left: 5%;
  /*justify-content: left;*/
  margin-inline: auto;
  background-color: white;
  border-style: solid;
  border-color: rgb(217, 217, 217);
  /* border-color: #e06666; */
  border-width: 7px;
  border-radius: 5px;
}

.video-container.theater,
.video-container.full-screen {
  max-width: initial;
  width: 100%;
}

.video-container.theater {
  max-height: 100%;
}

.video-container.full-screen {
  max-height: 100%;
}

video {
  width: 100%;
  filter: grayscale(0);
}

.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 15;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
  height: 10%;
}

.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: transparent;
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
  opacity: 1;
}

.video-controls-container .controls {
  display: flex;
  gap: .5rem;
  padding: .25rem;
  align-items: center;
}

.video-controls-container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 60px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: .85;
  transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}

.video-container.theater .tall {
  display: none;
}

.video-container:not(.theater) .wide {
  display: none;
}

.video-container.full-screen .open {
  display: none;
}

.video-container:not(.full-screen) .close {
  display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  height: 100%;
  display: none;
}



.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  width: 100px;
  transform: scaleX(1);
}

.duration-container {
  display: flex;
  align-items: center;
  gap: .25rem;
  flex-grow: 1;
}

.video-container.captions .captions-btn {
  border-bottom: 3px solid red;
}

.video-controls-container .controls button.wide-btn {
  width: 50px;
}

.timeline-container {
  height: 15px;
  margin-inline: .5rem;
  /*cursor: pointer;*/
  display: flex;
  align-items: center;
  width: 90%;
  position: absolute;
  left: 5%;
  bottom:100%;
  border-style:solid;
  border-width: 2.5px;
  border-color: grey;
  border-radius: 3px;
}

.timeline {
  background-color: rgba(220, 220, 220, .5);
  height: 10px;
  width: 100%;
  position: relative
  /*border-style:solid;
  border-width: 4px;
  border-color: black;*/
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(200, 200, 200);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--live-progress-position) * 100%);
  background-color: rgba(148, 148, 148, 0.8);
}

/*.timeline .thumb-indicator {
  --scale: 1;
  position: absolute;
  transform: translateX(0%) scale(var(--scale));
  top: 20%;
  left: calc(var(--progress-position) * 100%);
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
  display: block;
  z-index: 15;
}*/

.timeline .thumb-indicator {
  position: absolute;
  bottom: 0%;
  transform: translate(-50%, 0%);
  left: calc(var(--progress-position) * 100%);
  display: block;
  opacity: 100%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color:rgba(0, 0, 0, 0.6);
  /* border-style: solid;
  border-color: black;
  border-width: 0.5px; */
  z-index: 21;
}

.thumb-img {
  height: 30px;
  position: absolute;
  bottom: 5px;
  left: -15px;
  display: none;
}

.thumb-text{
  position: absolute;
  bottom: 30%;
  left:340%;
  font-size: 13px;
  font-family: "Courier new";
  font-weight: bold;
  color: gray;
  transform: translate(-10%,+8%);
  height: 10px;
  width: 200px;
}

.timeline .preview-img {
  position: absolute;
  height: 80px;
  aspect-ratio: 16 / 9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: .25rem;
  border: 2px solid white;
  display: none;
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}

.start-time-text{
  font-size: 15px;
  font-family: "Courier new";
  color: black;
  position: absolute;
  left: 1%;
  top: -20%;
}



.section {
  height: 11px;
  position: absolute;
  opacity: 90%;
  /* border-radius: 3px; */
  border-width: 2px;
  border-color: grey;
  border-style: none;
}

.view-thumb-img{
  height: 5px;
  position: absolute;
  bottom: 6px;
  left: -12px;
  cursor: pointer;
  display: none;
}

.view-thumb-indicator{
  position: absolute;
  bottom: 0%;
  transform: translate(-50%, 16%);
  left: calc(var(--progress-position) * 100%);
  display: block;
  opacity: 100%;

  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;

}

.timeline-container:hover .view-thumb-indicator{
  display: block;
}

.live-video-container{
  position: absolute;
  width: 20%;
  right:0.5%;
  top: 1%;
  /*height: 50%;*/
  /*max-width: 1000px;*/
  z-index: 3;
  display: none;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
  border-style: solid;
  border-color: grey;
  border-width: 4px;
  border-radius: 5px;
}

.async-controls {
  position: absolute;
  bottom: 0%;
  left: 50% + width/2;
  width: 100%;
  height: 7.5%;
  background-color: rgba(80, 80, 80, 0.5);
  border-style: solid;
  /*border-color: #93c47d;*/
  border-color: transparent;
  border-width: 2px;
  /*border-radius: 10px;*/
  /*z-index: 120;*/
  display: block;
}

.btn-img {
  position: absolute;
  height: 70%;
  top:15%;
  left:0%;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  left: 5%;
  top:15%;
  height: 70%;
  display: none;
}

/*.close-btn :hover{
  height: 90%;
}*/
.skip-back-btn{
  position: absolute;
  left: 1%;
  top:0%;
  height: 100%;
}
/*.skip-back-btn :hover{
  height: 90%;
}*/


.play-btn{
  position: absolute;
  left: 50%;
  top:5%;
  height: 90%;
  cursor: pointer;
}
/*.play-btn :hover{
  height: 90%;
}*/

.skip-forward-btn{
  position: absolute;
  left: 5%;
  top:0%;
  height: 100%;
}
/*.skip-forward-btn :hover{
  height: 90%;
}*/

.speed-container{
  position: absolute;
  left: 9%;
  top: 0%;
  height: 100%;
  width: 8%;
  opacity: 100%;
}

.speed-text {
  position: absolute;
  height: 100%;
  left:0%;
  top: 20%;
  font-size: 100%;
  font-weight: bold;
  font-family: "Courier new";
  color: white;
}

.increase-btn-img{
  position: absolute;
  height: 35%;
  top:5%;
  left:45%;
  cursor: pointer;
}

.decrease-btn-img{
  position: absolute;
  height: 35%;
  top:60%;
  left:45%;
  cursor: pointer;
}
.big-window-prompt{
  background-size: contain;
  left: 5%;
  top: 3%;
  bottom: 0%;
  font-size: 100%;
  font-family: "Courier new";
  font-weight: bold;
  background-color: rgba(256, 256, 256, 0.8);
  color: red;
  position: absolute;
  display: none;
}

.small-window-prompt{
  height: 15%;
  left:0%;
  top: 0%;
  font-size: 70%;
  font-family: "Courier new";
  font-weight: bold;
  color: #e06666;
  background-color: rgba(256, 256, 256, 0.6);
  position: absolute;
  /*border-style: solid;
  border-color: #e06666;
  border-width: 2px;*/
}

.slides-container{
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  background-color: yellow;
  bottom: -1%;
/*  display: flex;
*/  z-index: 100;
}

.future-slide-thumb {
  position: absolute;
  width: 4%;
  aspect-ratio: 1.3 / 1;
  top: 5%;
  border-style: solid;
  border-color: rgba(200, 200, 200, 1);
  border-width: 2.5px;
  border-radius: 3px;
  /*background-repeat: no-repeat;*/
  background-size: cover;
  max-height: max-content;
  z-index: 100;

}
/*.future-slide-thumb:hover {
  min-width: max-content;
  min-height: max-content;
  max-width: 70px;
  transform: scale(5);
  border-width: 1px;
  border-color: grey;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}
*/
.slider-btn {
  height: 35px;
  width: 27px;
  position: absolute;
  left:85%;
  bottom: 0%;
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  opacity: 100%;
  border-width: 3px;
  border-radius: 3px;
  z-index: 10;
}

.slider {
  position: absolute;
  left:0%;
  bottom: 0%;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.slider-img {
  height: 25px;
  position: absolute;
  /*right: 0%;*/
  top: 0%;
  transform: translate(-50%,-120%);
  cursor: pointer;
}

.slider-text {
  position: absolute;
  bottom: 0%;
  left: 0%;
  font-size: 12px;
  font-family: "Courier new";
  font-weight: bold;
  color: black;
  transform: translate(-50%,-220%);
  border-style: none;
  border-color: grey;
  border-width: 1px;
}

.slider-time-difference {
  position: absolute;
  /*width: 100px;*/
  bottom: 0%;
  left: 0%;
  font-size: 12px;
  font-family: "Courier new";
  font-weight: bold;
  color: black;
  transform: translate(+70%,-55%);
}


.alert-tool-bar{
  position: absolute;
  right: 0%;
  bottom: 0%;
  height: 5%;
  width: 15%;
  background-color: transparent;
  opacity: 100%;
  /*border-radius: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 2.5px;*/
  z-index: 200;
}

.timer-btn{
  position: absolute;
  bottom: 0%;
  left: 60%;
  opacity: 100%;
  cursor: pointer;
}


.bookmark-btn{
  position: absolute;
  bottom: 0%;
  left: 10%;
  opacity: 100%;
  cursor: pointer;
  display: none;
}

.activity-btn{
  position: absolute;
  bottom: 0%;
  left: 35%;
  opacity: 100%;
  cursor: pointer;

}

.switch-line{
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: red;
  bottom: 0%;
  left: -15px;
  display: none;
}

.close-btn-small{
  position: absolute;
  left: 11px;
  bottom: 20px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: red;
  z-index: 100;
  display: none;
  opacity: 80%;
  cursor: help;
}

.thumb-bkmark-img{
  position: absolute;
  top: -10%;
  right: 0%;
  height: 60%;
  width: 35%;
  display: none;
  pointer-events: none;
}

.alert-mark{
  position: absolute;
  height: 30px;
  left:100%;
  top: 0%;
  transform: translate(60%, -120%);
  font-size: 100%;
  font-family: "Courier new";
  font-weight: bold;
  color: red;
  display: none;
}

.sync-subtitle-text{
  position: absolute;
  background-size: contain;
  left:0.5%;
  bottom: 2%;
  font-size: 65%;
  font-family: "Courier new";
  font-weight: bold;
  background-color: rgba(80, 80, 80, 0.8);
  color: white;
  position: absolute;
}
.async-subtitle-text{
  position: absolute;
  background-size: contain;
  left:50% - width/2;
  bottom: 10%;
  font-size: 100%;
  font-family: "Courier new";
  font-weight: bold;
  background-color: rgba(80, 80, 80, 0.8);
  color: white;
  position: absolute;
}

.live-label{
  position: absolute;
  top: 1%;
  left:1%;
  font-size: 16px;
  font-family: "Courier new";
  font-weight: bold;
  color: grey;
  /*transform: translate(-10%,+10%);*/
  height: 10px;
  width: 40px;
}

.audio-btn-live{
  position: absolute;
  top:2%;
  left: 2%;
  height: 8%;
  aspect-ratio : 1/1;
  background-color: grey;
  border-radius: 20%;
  cursor: pointer;
  display: none;
}

.audio-btn-main{
  position: absolute;
  height: 80%;
  aspect-ratio : 1/1;
  background-color: transparent;
  top:10%;
  left: 16%;
  border-radius: 20%;
  cursor: pointer;
  z-index: 10;
  display: block;
}

.volume-slider {
  position: absolute;
  left : 19%;
  top: 25%;
  width: 100px;
  transform-origin: left;
  transform: scaleX(1);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  display: block;
  filter: grayscale(1);
  background: white;
}

.audio-btn-main:hover .volume-slider,
.volume-slider:focus-within{
  display: block;
  width: 100px;
  transform: scaleX(1);
}

.audio-btn-text{
  position: absolute;
  top: 1%;
  left:22%;
  font-size: 10px;
  font-family: "Courier new";
  font-weight: bold;
  color: grey;
  /*transform: translate(-10%,+10%);*/
  height: 10px;
  width: 40px;
}

.catch-up-line{
  position: absolute;
  height: 3px;
  width: 0%;
  left:0%;
  bottom: 200%;
  background-color: rgb(200,200,200);
  display: inline-block;
}

.right-arrow {
  position: absolute;
  border: solid rgb(200,200,200);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  bottom: 185%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  display: none;
}

.left-arrow {
  position: absolute;
  border: solid rgb(200,200,200);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  bottom: 185%;
  transform: rotate(+135deg);
  -webkit-transform: rotate(+135deg);
  display: none;
}

.catch-up-time-text{
  position: absolute;
  bottom: 0%;
  left: 0%;
  font-size: 11px;
  font-family: "Courier new";
  font-weight: bold;
  color: #93c47d;
  transform: translate(-50%,-220%);
}

.transcript{
  position: absolute;
  width: 20%;
  height: 49%;
  top: 31%;
  right: 0.5%;
  background-color: white;
  border-radius: 10px;
  border: solid rgb(200, 200, 200);
  display: none;
}

.transcript-title{
  display: block;
  position: absolute;
  top: 1%;
  left: 2%;
  font-size: 12px;
  font-family: "Courier new";
  font-weight: bold;
  color: black;
}

.transcript-body{
  position: absolute;
  height: 90%;
  width: 98%;
  top:10%;
  overflow-y: scroll;
}

.transcript-sentence{
  position: relative;
  left:2%;
  display: table;
  font-size: 10px;
  font-family: "Courier new";
  color: black;
  cursor: pointer;  
}

.progress-container{
  position: absolute;
  left: 5%;
  height: 100%;
  top: -80%;
}
.time-progress{
  position: absolute;
  left: 9%;
  top: 1.2%;
  color: grey;
  font-size: 12px;
  font-family: "Courier new";
  font-weight: bold;
  z-index: 20;
}

.minimize-btn{
  position: absolute;
  right: 0%;
  top: 1%;
  height: 5%;
  width: 10%;
  cursor: pointer;
}

.maximize-btn{
  position: absolute;
  right: 0%;
  top: 1%;
  height: 5%;
  width: 2%;
  cursor: pointer;
  display: none;
}


.email-popup{
  position: absolute;
  right: 1%;
  top: 1%;
  width: 60px;
  height: 50px;
  background-color: white;
  /* padding:5px;
  align-items: center; */
  z-index: 10;
  /* border-radius: 10px; */
  cursor: pointer;
  display: none;
}
.mail-icon{
  position: absolute;
  width: 100%;
  margin: 5px;
}

.mail-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:white;
}
.mail-container{
  flex-direction: column;
  position: absolute;
  left: 20%;
  top: 10%;
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.questions{
  width: 90%;
  height: 50%;
  border-radius: 25px;
}

.question-text{
  position: relative;
  width: 100%;
  height: 85%;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  font-size: 15px;
  /* font-weight: bold; */
  font-family: Monospace;
}

.answers{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  top: 50%;
  width: 100%;
  height: 50%;
  justify-content: flex-start;
}

.answer-block{ 
  /* position: absolute; */
  width: 90%;
  height: 30%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* top: 50%; */
}

.question{
  /* position: absolute; */
  width: 90%;
  height: 20%;
  left: 5%;
  font-family: Monospace;
  /* top: 35%; */
}
.answer{
  width: 90%;
  height: 50%;
  /* position: absolute; */
  left: 5%;
  /* top: 50%; */
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: top left;
  font-family:Monospace;
}

.button-bar{
  position: absolute;
  display: flex;
  height: 8%;
  width: 100%;
  bottom: 1%;
}

.next-button{
  position: absolute;
  right: 1%;
  bottom: 5%;
  
  width: 10%;
  height: 95%;
  border-radius: 15px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  border: none;
  background-color: rgb(6, 47, 104);
  cursor: pointer;
}

.popup-container{
  position: absolute;
  width: 40%;
  height: 40%;
  background-size:cover;
  left: 30%;
  top: 20%;
  background-color: white;
  opacity: 0.9;
  border-style: solid;
  border-width: 5px;
  border-color: lightgray;
  border-radius: 25px;
  z-index: 20;
}

.popup-text{
  position: absolute;
  left: 3%;
  top: 5%;
  font-size: 15px;
  font-family: Monospace;
  font-weight: bold;
  color: rgb(49, 49, 49);
  white-space: pre-line;
}

.popup-button{
  position: absolute;
  width: 28%;
  height: 20%;
  left: 37%;
  top: 65%;
  background-color: rgb(0, 0, 67);
  border-radius: 10px;
  font-size: 15px;
  font-family: Monospace;
  font-weight: bold;
  color: white;

}







